@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #242333;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    font-size: large;

}

.seat{
background-color: #444451;
height: 12px;
width: 14px;
margin: 3px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

.row{
    display: flex;
}

.movie-container{
    margin: 24px 0px;
}

.movie-container select{
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    
}

.seat.selected{
background-color: #6feaf6;

}

.seat.occupied{
    background-color: white;
}